.addProductForm{
    position: fixed;
    z-index: 10;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:white;
    width: 50%;
    padding: 2rem;
}
.overlay-add{
    background-color: rgba(0,0,0,0.38);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 20px;
}
.close-btn:hover{
    cursor: pointer;
}
.addProductForm input[type='text'], input[type='number'], select{
    width: 75%;
}