body {
	margin: 0;
	padding-top: 40px;
	color: #2e323c;
	background: #f5f6fa;
	position: relative;
	height: 100%;
}
.account-settings .user-profile {
	margin: 0 0 1rem 0;
	padding-bottom: 1rem;
	text-align: center;
}
.account-settings .user-profile .user-avatar {
	margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
	width: 90px;
	height: 90px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
	margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
	margin: 0;
	font-size: 0.8rem;
	font-weight: 400;
	color: #9fa8b9;
}
.account-settings .about {
	margin: 2rem 0 0 0;
	text-align: center;
}
.account-settings .about h5 {
	margin: 0 0 15px 0;
	color: #007ae1;
}
.account-settings .about p {
	font-size: 0.825rem;
}
.form-control {
	border: 1px solid #cfd1d8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 0.825rem;
	background: #ffffff;
	color: #2e323c;
}

.card {
	background: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	margin-bottom: 1rem;
}

.card-ul {
	padding: 0;
}

.card-ul li {
	list-style: none;
	margin-bottom: 15px;
}

.card-ul li a {
	text-decoration: none;
	color: black;
}

.card-ul li a:hover {
	display: block;
	color: #f28123;
	border-bottom: #f28123 solid 3px;
	transition: 0.3s ease-in-out;
}

#my-order-list {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#my-order-list td,
#my-order-list th {
	border: 1px solid #ddd;
	padding: 8px 26px;
}

#my-order-list tr:nth-child(even) {
	background-color: #f2f2f2;
}

#my-order-list tr:hover {
	background-color: #ddd;
}

#my-order-list th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04aa6d;
	color: white;
}

.card-imformation{
	margin-bottom:  2.5rem !important;
}

.btn-update{
	background-color: rgb(0,123,255) !important;
	color: white !important;
}

.btn-update:hover{
	background-color: rgb(10, 78, 150) !important;
}

.form-control{
	color: black!important;
}